.seccion{
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
}


.container{
	width: 40%;
	height: 100%;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
}
a{
	text-decoration: none;
}
div{
	margin-top:10%;
}